{% extends "base.html" %}
{% load static %}
{% block title %}Team Profile{% endblock %}

{% block body %}
<div class="profile top">
    <img src="http://images.mentalfloss.com/sites/default/files/styles/insert_main_wide_image/public/iStock_000006166025_Small.jpg" />
    <h2>We don't want you</h2>
</div>
<div class="profile description">
    <h3>About the Team</h3>
    <p>We do cool projects and stuff.</p>
</div>
<div class="profile interests">
    <h3>Skills We Are Looking For</h3>
    <table>
        <tr>
            <td>
                Skills
            </td>
        </tr>
        <tr>
            <td>Able to crack open sunflower seeds</td>
        </tr>
        <tr>
            <td>Be super cute</td>
        </tr>
    </table>
</div>
<div class="profile team-members">
    <h3>Team Members</h3>
    <div class="member-profile">
        <img src="http://images.mentalfloss.com/sites/default/files/styles/insert_main_wide_image/public/iStock_000006166025_Small.jpg" />
        <p>Hamtaro</p>
        <p>Manager</p>
    </div>
    <div class="member-profile">
        <img src="http://www.wittemolen.com/sites/default/files/inline-images/hamster5.jpg" />
        <p>xXCuteOneXx</p>
        <p>Scummaster</p>
    </div>
</div>

{% endblock %}