{% extends "base.html" %}
{% load static %}
{% block title %}Team Profile{% endblock

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
{% endblock %}

{% block body %}
<div class="profile top">
    <div class="choose">
        <button class="button-one">Yes</button>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFzM1xEaWM3iV1AFS2M9RK4ESlA_XAN6S_QwmbDGZHXpbM4ZQBdQ" />
        <button class="button-two">No</button>
    </div>
    <h2>We don't want you</h2>
</div>
<div class="profile description">
    <h3>About the Team</h3>
    <p>We do cool projects and stuff.</p>
</div>
<hr class="line-break" />
<div class="profile interests">
    <h3>Skills We Are Looking For</h3>
    <ul>
        <li>3 months of running on wheels</li>
        <li>Able to drink from water bottle</li>
    </ul>
</div>
<hr />
<div class="profile team-members">
    <h3>Team Members</h3>
    <div class="member-profile">
        <img src="http://images.mentalfloss.com/sites/default/files/styles/insert_main_wide_image/public/iStock_000006166025_Small.jpg" />
        <p>Hamtaro</p>
        <p>Manager</p>
    </div>
    <div class="member-profile">
        <img src="http://www.wittemolen.com/sites/default/files/inline-images/hamster5.jpg" />
        <p>xXCuteOneXx</p>
        <p>Scrummaster</p>
    </div>
    <div class="member-profile">
        <img src="http://www.wittemolen.com/sites/default/files/inline-images/hamster5.jpg" />
        <p>Bob</p>
        <p>Senior Engineer II</p>
    </div>
    <div class="member-profile">
        <img src="http://www.wittemolen.com/sites/default/files/inline-images/hamster5.jpg" />
        <p>Return Offer Pls</p>
        <p>Intern</p>
    </div>
</div>


{% endblock %}
