@font-face {
    font-family: BentonSans;
    src: url("../fonts/BentonSansBook.otf") format("opentype");
}

.left_img {
	margin-left: 20px;
}

.options_btn {
	margin: 10px;
	margin-left: 55px;
}

.match_title {
	font-size: 30pt;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'BentonSans', sans-serif;
}
p, div {
    font-family: 'BentonSans', sans-serif;
}

footer {
  margin-top: 32px;
  padding: 32px 0;
  text-align: center;
}

.shift {
  margin-left: 6px;
  height: 16px;
  width: auto;
  vertical-align: middle;
}
